{% block html_head_container %}
  {% include 'html-header.twig' %}
	{% block head %}
    <link rel="canonical" href="https://www.gfu.net/anmeldung.html">
	{% endblock %}
	</head>
{% endblock %}

	<body class="{{body_class}}" data-template="base.twig">
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MS7KTW"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <div id="content">
      {% include 'header.twig' %}

      <div class="breadcrumb-wrapper hidden-xs">
        <div class="container-fluid">
          <div class="col-sm-12">
            <ul class="my-breadcrumb list-inline">
              <li>
                <a href="/" title="">
                  Home
                </a>
              </li>
              <li>
                <a href="https://www.gfu.net/seminare.html" title="Seminare">Seminare</a>
              </li>
              <li class="active">
                Buchung / Vormerkung
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="container-fluid">
        <div class="col-sm-9">
          <div class="row">
            <div class="col-sm-12">
              <h2>Buchung / Vormerkung für ein offenes Seminar</h2>

              {% block content %}
                Sorry, no content
              {% endblock %}
            </div>
          </div>
        </div>
        <div class="v-space-top col-sm-3 col-xs-12" id="sidebar">
          <div id="accordion-right" class="panel-group">
            <div class="panel panel-default" id="panel-fragen">
              <div class="panel-heading accordion-toggle" data-toggle="collapse" data-parent="#accordion-right" data-target="#collapse-fragen">
                <h4 class="panel-title">
                  Haben Sie Fragen?<i class="indicator fa fa-minus-circle fa-grey pull-right"></i>
                </h4>
              </div>
              <div id="collapse-fragen" class="panel-collapse in">
                <div class="panel-body">
                  <p>Gerne beraten wir Sie persönlich per E-Mail oder Telefon.</p>
                  <img src="/wp-content/themes/gfu/images/dreifrauen.png" class="img-responsive v-space-bottom" alt="Nicole Döhring">
                  <div class="row drei-frauen-namen-box text-center">
                    <p class="drei-frauen-namen">Kathrin <br>Gerstmann</p>
                    <p class="drei-frauen-namen">Petra <br>Humartus</p>
                    <p class="drei-frauen-namen drei-frauen-namen-rechts">Ilona <br>Dick</p>
                  </div>

                  <ul class="fa-ul">
                    <li><i class="fa-li fa fa-phone fa-grey"></i>Infoline <a href="tel:+49221828090">0221 82 80 90</a></li>
                    <li><i class="fa-li fa fa-envelope fa-grey"></i>Email an <a href="mailto:info@gfu.net">GFU</a></li>
                  </ul>
                </div><!-- /panel-body -->
              </div>
            </div><!-- /panel -->

            <div class="panel panel-default hidden-xs">
              <div class="panel-heading accordion-toggle" data-toggle="collapse" data-parent="#accordion-right" data-target="#collapse-pluspunkte">
                <h4 class="panel-title">
                  Pluspunkte <i class="indicator fa fa-minus-circle fa-grey pull-right"></i>
                </h4>
              </div>
              <div id="collapse-pluspunkte" class="panel-collapse">
                <div class="panel-body">
                  <ul class="fa-ul">
                    <li><i class="fa-li fa fa-check ok-green"></i>Durchführungsgarantie</li>
                    <li><i class="fa-li fa fa-check ok-green"></i>Neueste Seminartechnik in 15 Schulungsräumen</li>
                    <li><i class="fa-li fa fa-check ok-green"></i>Freundliche, hilfsbereite Mitarbeiter</li>
                    <li><i class="fa-li fa fa-check ok-green"></i>Barrierefreie Zugänge</li>
                    <li><i class="fa-li fa fa-check ok-green"></i>Behindertentoilette</li>
                  </ul>
                </div><!-- /panel-body -->
              </div>
            </div><!-- /panel -->

            <div class="panel panel-default hidden-xs">
              <div class="panel-heading accordion-toggle" data-toggle="collapse" data-parent="#accordion-right" data-target="#collapse-service">
                <h4 class="panel-title">
                  GFU Service <i class="indicator fa fa-minus-circle fa-grey pull-right"></i>
                </h4>
              </div>
              <div id="collapse-service" class="panel-collapse collapse">
                <div class="panel-body">
                  <form method="POST" action="/wp-content/themes/gfu/static/load.php">
                    <ul class="fa-ul">
                      <li>
                        <i class="fa-li fa fa-bus fa-grey fa-blue"></i><input class="masked-link" type="submit" name="shuttle" value="Shuttle-Service">
                      </li>
                      <li>
                        <i class="fa-li fa fa-building-o fa-grey fa-blue"></i><input class="masked-link" type="submit" name="gfuhotel" value="Hotelreservierung">
                      </li>
                      <li>
                        <i class="fa-li fa fa-map-marker fa-grey fa-blue"></i><input class="masked-link" type="submit" name="parkplatz" value="Parkplätze">
                      </li>
                      <li>
                        <i class="fa-li fa fa-coffee fa-grey fa-blue"></i><input class="masked-link" type="submit" name="service" value="Weitere Serviceleistungen">
                      </li>
                    </ul>
                  </form>
                </div><!-- /panel-body -->
              </div>
            </div><!-- /panel -->
          </div><!-- /panel-group -->
        </div><!-- /sidebar -->
      </div>
    </div>

    {% include 'footer.twig' %}

    {{wp_footer}}
	</body>
</html>
