{% block footer %}
<div id="pre-footer" style="min-height:30px"></div>
<footer id="page-footer">

  <div class="footer-forms">
  <div class="container-fluid">
    <div class="col-md-9 col-sm-8 col-xs-12 schulungssuche">
  <span class="footer-title">Finden Sie Ihre GFU-Schulung</span>
  <form action="https://www.gfu.net/suche.php" method="GET" name="simplesearch" id="cse-search-box" class="main-search">
    <div class="input-group">
      <input type="text" class="form-control input-lg" placeholder="Stichwort eingeben" name="q">
      <span class="input-group-btn">
        <button class="btn btn-default btn-lg" type="submit"><i class="fa fa-search"></i></button>
      </span>
    </div>
  </form>
</div>
    <div class="col-md-3 col-sm-4 col-xs-12 newsletter">
  <span class="footer-title">Keinen Trend verpassen!</span>
  <button id="newsletter-form-trigger" type="button" name="email" class="btn btn-primary btn-lg btn-news" data-toggle="modal" data-target=".newsletter-modal">
    <i class="fa fa-envelope pull-right"></i>
    Newsletter
  </button>
</div>
  </div>
</div>

  <div class="footer-columns">
  <div class="container-fluid">
    <div class="counter col-sm-3 hidden-xs">
  <ul>
    <li><span class="count">15</span> Schulungsräume</li>
    <li><span class="count">100+</span> Top-Trainer</li>
    <li><span class="count">1.323</span> Seminarthemen</li>
    <li><span class="count">18.101</span> Durchgeführte Seminare</li>
    <li class="hide-print"><span class="count">2.043</span> Kunden</li>
    <li><span class="count">66.542</span> Teilnehmer</li>
  </ul>
</div>
    <div id="carousel-footer" class="carousel slide clients col-sm-6 col-xs-8" data-ride="carousel">
  <span class="footer-title">Einige unserer Kunden</span>
  <ul class="carousel-inner" role="listbox">
    <li class="item active"><img src="/wp-content/themes/gfu/images/slide-1.png" alt="Kundenlogos Slide 1"></li>
    <li class="item"><img src="/wp-content/themes/gfu/images/slide-2.png" alt="Kundenlogos Slide 2"></li>
    <li class="item"><img src="/wp-content/themes/gfu/images/slide-3.png" alt="Kundenlogos Slide 3"></li>
  </ul>
  <form method="post" action="https://www.gfu.net/geturl.php">
    <input class="clients-all" type="submit" name="clients" value="Alle anzeigen">
  </form>
  <ol class="carousel-indicators">
    <li data-target="#carousel-footer" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-footer" data-slide-to="1"></li>
    <li data-target="#carousel-footer" data-slide-to="2"></li>
  </ol>
</div>
    <div class="rating col-sm-3 col-xs-4">
  <form method="post" action="https://www.gfu.net/geturl.php" target="_blank">
  <button type="submit" name="ekomi" class="btn-reset">
    <div class="ekomi-widget">
      <img src="/wp-content/themes/gfu/images/ekomi-1.gif" alt="Ekomi Siegel - Wir sind gold wert!">
    </div>
  </button>
</form>
  <div class="ekomi"></div>
</div>
  </div>
</div>

  <div class="footer-sub">
  <div class="container-fluid">
    <div class="col-sm-12 col-xs-12">
      <span class="copyright">&copy; GFU Cyrus AG</span>
      <form method="post" action="https://www.gfu.net/load.php" class="links">
  <input class="gfu_pseudolink" type="submit" name="impressum" value="Impressum">
  <input class="gfu_pseudolink" type="submit" name="impressum" value="Datenschutz">
  <input class="gfu_pseudolink" type="submit" name="impressum" value="AGB">
  <input class="gfu_pseudolink" type="submit" name="blog" value="Blog">
</form>
      <form class="social-links" method="post" action="https://www.gfu.net/geturl.php" target="_blank">
  <input class="social-links__item facebook" type="submit" name="facebook" value="&#xf082;">
  <a href="https://plus.google.com/111387833094105129671" target="_blank" class="social-links__item google-plus"><i class="fa fa-google-plus-square" aria-hidden="true"></i></a>
  <input class="social-links__item xing" type="submit" name="xing" value="&#xf169;">
</form>
      <div class="print-only pull-right">Am Grauen Stein 27  51105 Köln-Deutz  Tel: (0221) 82809-0  Fax: (0221) 82809-50 Email:info@gfu.net</div>
    </div>
  </div>
  <a href="" class="go-top" onclick='return $("html, body").animate({scrollTop:0},600),!1'>
    <i class="fa fa-chevron-up fa-2x"></i>
  </a>
</div>

</footer>
{% endblock %}
