<fieldset class="well">
    <legend>Firma</legend>

    <div class="row">
        <div class="col-sm-3 text-right">
            <strong>Firmenname:</strong>
        </div>
        <div class="col-sm-9">
            [multiform firma]
        </div>
    </div>

    <div class="row">
        <div class="col-sm-3 text-right">
            <strong>Straße:</strong>
        </div>
        <div class="col-sm-9">
            [multiform str]
        </div>
    </div>

    <div class="row">
        <div class="col-sm-3 text-right">
            <strong>PLZ u. Ort:</strong>
        </div>
        <div class="col-sm-9">
            [multiform plz] [multiform ort]
        </div>
    </div>

    <div class="row">
        <div class="col-sm-3 text-right">
            <strong>Ansprechpartner:</strong>
        </div>
        <div class="col-sm-9">
            [multiform ap_anrede] [multiform ap_vorname] [multiform ap_nachname]
        </div>
    </div>

    <div class="row">
        <div class="col-sm-3 text-right">
            <strong>Telefon:</strong>
        </div>
        <div class="col-sm-9">
            [multiform telefon]
        </div>
    </div>

    <div class="row">
        <div class="col-sm-3 text-right">
            <strong>E-Mail Adresse:</strong>
        </div>
        <div class="col-sm-9">
            [multiform ap_email]
        </div>
    </div>

    <br>
    <div class="well well-inner">
        <legend>Abweichende Rechnungsanschrift</legend>

        <div class="row">
            <div class="col-sm-3 text-right">
                <strong>Firmenname:</strong>
            </div>
            <div class="col-sm-9">
                [multiform rechnung_firma]
            </div>
        </div>

        <div class="row">
            <div class="col-sm-3 text-right">
                <strong>Straße:</strong>
            </div>
            <div class="col-sm-9">
                [multiform rechnung_str]
            </div>
        </div>

        <div class="row">
            <div class="col-sm-3 text-right">
                <strong>PLZ u. Ort:</strong>
            </div>
            <div class="col-sm-9">
                [multiform rechnung_plz] [multiform rechnung_ort]
            </div>
        </div>
    </div>
</fieldset>

<fieldset class="well">
    <legend>Teilnehmer</legend>

    <div class="row">
        <div class="col-sm-3 text-right">
            <strong>Vor- und Nachname:</strong>
        </div>
        <div class="col-sm-9">
            [multiform teilnehmer_anrede] [multiform teilnehmer_vorname] [multiform teilnehmer_nachname]
        </div>
    </div>

    <div class="row">
        <div class="col-sm-3 text-right">
            <strong>E-Mail Adresse:</strong>
        </div>
        <div class="col-sm-9">
            [multiform teilnehmer_email]
        </div>
    </div>

    <div class="row">
        <div class="col-sm-3 text-right">
            <strong>Handy-Nr.:</strong>
        </div>
        <div class="col-sm-9">
            [multiform Handy_Nr]
        </div>
    </div>

    <br>

    <div class="row">
        <div class="col-sm-3 text-right">
            <strong>Vor- und Nachname:</strong>
        </div>
        <div class="col-sm-9">
            [multiform tn2_anrede] [multiform tn2_vorname] [multiform tn2_nachname]
        </div>
    </div>

    <div class="row">
        <div class="col-sm-3 text-right">
            <strong>E-Mail Adresse:</strong>
        </div>
        <div class="col-sm-9">
            [multiform tn2_email]
        </div>
    </div>

    <div class="row">
        <div class="col-sm-3 text-right">
            <strong>Handy-Nr.:</strong>
        </div>
        <div class="col-sm-9">
            [multiform tn2_Handy_Nr]
        </div>
    </div>

    <br>

    <div class="row">
        <div class="col-sm-3 text-right">
            <strong>Vor- und Nachname:</strong>
        </div>
        <div class="col-sm-9">
            [multiform tn3_anrede] [multiform tn3_vorname] [multiform tn3_nachname]
        </div>
    </div>

    <div class="row">
        <div class="col-sm-3 text-right">
            <strong>E-Mail Adresse:</strong>
        </div>
        <div class="col-sm-9">
            [multiform tn3_email]
        </div>
    </div>

    <div class="row">
        <div class="col-sm-3 text-right">
            <strong>Handy-Nr.:</strong>
        </div>
        <div class="col-sm-9">
            [multiform tn3_Handy_Nr]
        </div>
    </div>
</fieldset>

<fieldset class="well">
    <legend>Kostenlose Serviceleistungen</legend>

    <p>[multiform parkplatz]</p>
    <p>[multiform shuttle]</p>
</fieldset>

<fieldset class="well">
    <legend>Hotelreservierung</legend>

    <strong>MARITIM Hotel Köln</strong><br>
    Gehobene Business Class
</fieldset>

<fieldset class="well">
    <legend>Kommentar</legend>

    <p>[multiform sonstiges1]</p>
</fieldset>

[previous class:btn class:btn-default class:pull-left "Zurück"]
[submit class:btn class:btn-cta class:pull-right "Jetzt buchen"]
[multistep "4-4"]