<fieldset class="well">
    <legend>Teilnehmer</legend>

    <div class="form-group">
        <label class="control-label col-sm-3">
            Vor- und Nachname:
            <span class="required" aria-required="true">*</span>
        </label>
        <div class="col-sm-9">
            <div class="row gutter-sm">
                <div class="col-sm-2 container_form-control">
                    [select teilnehmer_anrede class:form-control "Frau" "Herr"]
                </div>
                <div class="col-xs-6 col-sm-5 container_form-control">
                    [text* teilnehmer_vorname class:form-control]
                </div>
                <div class="col-xs-6 col-sm-5 container_form-control">
                    [text* teilnehmer_nachname class:form-control]
                </div>
            </div>
        </div>
    </div><!-- /form-group -->

    <div class="form-group">
        <label class="control-label col-sm-3">
            E-Mail Adresse:
            <span class="required" aria-required="true">*</span>
        </label>
        <div class="col-sm-9 container_form-control">
            [email* teilnehmer_email class:form-control]
        </div>
    </div><!-- /form-group -->

    <div class="form-group">
        <label class="control-label col-sm-3">
            Handy-Nr.:
        </label>
        <div class="col-sm-9 container_form-control">
            [tel Handy_Nr class:form-control]
        </div>
    </div><!-- /form-group -->

    <div class="weitere-teilnehmer buchen">
        <div class="zusatz-teilnehmer collapse">
            <fieldset class="well well-inner">
                <legend>
                    Teilnehmer <span class="tn-index">2</span> <span class="free-participant" style="display:none;">(kostenlose Teilnahme)</span>
                    <div class="btn btn-danger remove-teilnehmer"><i class="fa fa-times" aria-hidden="true"></i></div>
                </legend>
                <div class="clearfix"></div>
                <div class="form-group">
                    <label class="control-label col-sm-3">Vor- und Nachname:</label>
                    <div class="col-sm-9">
                        <div class="row gutter-sm">
                            <div class="col-sm-2 container_form-control">
                                [select tn_anrede class:form-control "Frau" "Herr"]
                            </div><!-- End col-sm-2 -->
                            <div class="col-xs-6 col-sm-5 container_form-control">
                                [text tn_vorname class:form-control]
                            </div>
                            <div class="col-xs-6 col-sm-5 container_form-control">
                                [text tn_nachname class:form-control]
                            </div>
                        </div><!-- end row -->
                    </div><!-- End col-sm-9 -->
                </div><!-- End form-group -->

                <div class="form-group">
                    <label class="control-label col-sm-3">E-Mail Adresse:</label>
                    <div class="col-sm-9 container_form-control">
                        [email tn_email class:form-control]
                    </div><!-- End col-sm-9 -->
                </div><!-- End form-group -->

                <div class="form-group">
                    <label class="control-label col-sm-3">Handy-Nr.</label>
                    <div class="col-sm-9 container_form-control">
                        [tel tn_Handy_Nr class:form-control]
                    </div><!-- End col-sm-9 -->
                </div><!-- End form-group -->

                <div class="alert alert-warning fbp-info" style="display:none;">
                    <p><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Der Preis wurde angepasst, da die Aktion 3=2 nicht mit dem Frühbucherrabatt kombinierbar ist. <br>Sie sparen <strong class="p"></strong> &euro;.</p>
                </div>
            </fieldset>
        </div>
    </div>

    <div class="row b-row">
        <div class="col-sm-12">
            <button type="button" class="btn btn-success add-teilnehmer" onclick="return false">
                <i class="fa fa-plus" aria-hidden="true"></i>
                Teilnehmer hinzufügen
            </button>
            <div class="free-hint free-hint-bubble">
                <span class="tft-icon"></span> Der dritte Mitarbeiter nimmt kostenlos teil
            </div>
        </div>
    </div>
</fieldset>


[previous class:btn class:btn-default class:pull-left "Zurück"]
[submit class:btn class:btn-cta class:pull-right "Weiter"]
[multistep "2-3-http://buchungen.gfu.net/form-step-3/"]