<fieldset class="well">
    <legend>Kostenlose Serviceleistungen</legend>

    <p>[checkbox parkplatz use_label_element "Kostenlose Parkplatzreservierung"]</p>
    <p>[checkbox shuttle use_label_element "Kostenloser Shuttle-Service"]</p>
    <p><span data-toggle="collapse" data-target="#hotelreservierung">[checkbox hotelreservierung use_label_element "Wir möchten die Sonderpreise der GFU-Vertragshotels nutzen"]</span></p>

    <div class="collapse [condition isset='[multiform hotelreservierung]']in[/condition]" id="hotelreservierung">
        <fieldset class="well well-inner">
            <legend>Hotelreservierungen</legend>

            <div class="row">
                <div class="col-sm-12">
                    <div class="alert alert-warning">
                        <p><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Für den gewählten Zeitraum ist mit einer eingeschränkten Hotelkapazität zu rechnen.</p>
                    </div>
                </div>
            </div><!-- /row -->

            <p>Wir übernehmen gerne die Hotelreservierung für Sie. Wählen Sie bitte eins der GFU-Vertragshotels aus und legen Sie das gewünschte Anreise- und Abreisedatum fest.</p>

            <table class="table table-hover table_hotels">
                <thead>
                <tr>
                    <th>Auswählen</th>
                    <th>Hotel</th>
                    <th style="width:20%">Preis</th>
                </tr>
                </thead>
                <tbody>
                <tr class="table_hotels__item">
                    <td>
                        [radio hotel default:0 class:table_hotels__radio class:hide-text "maritim"]
                    </td>
                    <td>
                        <h4 class="table_hotels__title"><a href="/gfuhotel.html" target="_blank">Maritim Hotel Köln</a></h4>
                        <p class="table_hotels__type">Gehobene Klasse, Ü/F</p>

                        <p class="table_hotels__description">Am Rheinufer, nur wenige Schritte von der historischen Altstadt und dem Kölner Dom entfernt, liegt das Maritim Hotel, das sich auch durch seine beeindruckende Architektur gekonnt in Szene setzt. Mehrere elegante Restaurants und Bistros, darunter das Dachgartenrestaurant "Bellevue", das Bistro "La Galerie", das Restaurant "Rôtisserie", die Bier- und Weinstube "Kölsche Stuff", das Café "Heumarkt" sowie die Piano-Bar mit abendlichem Live-Programm sorgen fürs leibliche Wohl der Gäste.</p>
                    </td>
                    <td>108,00 €</td>
                </tr>
                <tr class="table_hotels__item">
                    <td>
                        [radio hotel default:0 class:table_hotels__radio class:hide-text "motelone"]
                    </td>
                    <td>
                        <h4 class="table_hotels__title"><a href="/gfuhotel.html" target="_blank">Motel One am Waidmarkt</a></h4>
                        <p class="table_hotels__type">Economy Class, Ü/F</p>

                        <p class="table_hotels__description">Freuen Sie sich bei Ihrem Aufenthalt in diesem Motel One in Köln auf modern eingerichtete Zimmer, freundliches Personal und absolut zentrale Lage. Sie erreichen in kürzester Zeit die beliebten Einkaufsmeilen Hohe Straße oder Schildergasse. Auch die Altstadt und der Rhein sind sehr nahe.</p>
                    </td>
                    <td>78,50 €</td>
                </tr>
                <tr class="table_hotels__item">
                    <td>
                        [radio hotel default:0 class:table_hotels__radio class:hide-text "allegro"]
                    </td>
                    <td>
                        <h4 class="table_hotels__title"><a href="/gfuhotel.html" target="_blank">Hotel Allegro</a></h4>
                        <p class="table_hotels__type">Economy Class, Ü/F</p>

                        <p class="table_hotels__description">Das 3 Sterne Stadthotel liegt sehr zentral am Rhein, unmittelbar neben dem Maritim-Hotel. Zur Innenstadt sind es wenige Gehminuten, die Altstadt erreichen Sie über die Rheinuferpromenade.</p>
                    </td>
                    <td>77,50 €</td>
                </tr>
                <tr class="table_hotels__item">
                    <td>
                        [radio hotel default:0 class:table_hotels__radio class:hide-text "cityclass"]
                    </td>
                    <td>
                        <h4 class="table_hotels__title"><a href="/gfuhotel.html" target="_blank">CityClass Hotel: Caprice am Dom</a></h4>
                        <p class="table_hotels__type">Economy Class, Ü/F</p>

                        <p class="table_hotels__description">Das 3-Sterne-Superior-Hotel liegt im Herzen der Altstadt - in wenigen Schritten sind Sie am Dom, am Rhein und in der Fußgängerzone. Der kleine aber feine Wellnessbereich steht Ihnen kostenlos zur Verfügung. WLAN steht für Sie kostenlos in den Zimmern zur Verfügung.</p>
                    </td>
                    <td>63,00 €</td>
                </tr>
                <tr class="table_hotels__item">
                    <td>
                        [radio hotel default:0 class:table_hotels__radio class:hide-text "mauritius"]
                    </td>
                    <td>
                        <h4 class="table_hotels__title"><a href="/gfuhotel.html" target="_blank">Mauritius Komfort Hotel</a></h4>
                        <p class="table_hotels__type">Economy Class, Ü/F</p>

                        <p class="table_hotels__description">Das Mauritius Komfort Hotel liegt im Herzen von Köln, in direkter Nähe von Heumarkt und der Altstadt, Kölner Dom, Deutzer Brücke, Köln Messe, sowie den Fußgängerzonen Hohe Strasse und Schildergasse.</p>
                    </td>
                    <td>67,50 €</td>
                </tr>
                </tbody>
            </table>

            <div class="row">
                <div class="form-group col-sm-7">
                    <div class="col-xs-6">
                        <label class="form-control-label">Anreise am:</label>
                        [text anreise class:form-control class:datepicker]
                    </div>
                    <div class="col-xs-6">
                        <label class="form-control-label">Abreise am:</label>
                        [text abreise class:form-control class:datepicker]
                    </div>
                </div>
            </div><!-- /row -->

            <div class="row">
                <div class="col-sm-12">
                    <br>
                    <div class="alert alert-warning">
                        <p>Bitte berücksichtigen Sie, dass ab dem 01.12.2014 zu den übernachtungspreisen die Kulturförderabgabe der Stadt Köln in Höhe von 5 % hinzukommt. Diese Abgabe ist nicht in den angegebenen übernachtungspreisen der Vertragshotels enthalten.</p>

                        <p>Da Ihr Aufenthalt in Köln jedoch beruflich bedingt ist, haben Sie die Möglichkeit, den Einzug der Abgabe zu unterbinden bzw. die Erstattung der Kulturförderabgabe zu beantragen.<br>
                            Weitere Informationen hierzu finden Sie <a href="http://www.stadt-koeln.de/politik-und-verwaltung/steuern-gebuehren/haeufig-gestellte-fragen-zur-kulturfoerderabgabe" target="_blank" title="Kulturförderabgabe Info">hier.</a></p>

                        <p>Gerne steht Ihnen auch Ihr Hotel für weitere Fragen bereit.</p>
                    </div>
                </div>
            </div><!-- /row -->
        </fieldset>
    </div>
</fieldset>

<fieldset class="well">
    <legend>Kommentar</legend>

    [textarea sonstiges1 class:form-control placeholder "Hier können Sie Ihre Bemerkungen eintragen, beispielweise Ihre Bestellnummer oder Kostenstelle."]
</fieldset>

[previous class:btn class:btn-default class:pull-left "Zurück"]
[submit class:btn class:btn-cta class:pull-right "Weiter"]
[multistep "3-4-http://buchungen.gfu.net/form-step-4/"]