<fieldset class="well">
    <legend>Firma</legend>
    <div class="form-group">
        <label class="control-label col-sm-3">
            Firmenname:
            <span class="required" aria-required="true">*</span>
        </label>
        <div class="col-sm-9 container_form-control">
            [text* firma class:form-control ]
        </div>
    </div><!-- /form-group -->

    <div class="form-group">
        <label class="control-label col-sm-3">
            Straße:
            <span class="required" aria-required="true">*</span>
        </label>
        <div class="col-sm-9 container_form-control">
            [text* str class:form-control]
        </div>
    </div><!-- /form-group -->

    <div class="form-group">
        <label class="control-label col-sm-3">
            PLZ u. Ort:
            <span class="required" aria-required="true">*</span>
        </label>
        <div class="col-sm-9">
            <div class="row gutter-sm">
                <div class="col-xs-4 container_form-control">
                    [number* plz class:form-control]
                </div>
                <div class="col-xs-8 container_form-control">
                    [text* ort class:form-control]
                </div>
            </div><!-- /row -->
        </div>
    </div><!-- /form-group -->

    <div class="form-group">
        <label class="control-label col-sm-3">
            Ansprechpartner:
        </label>
        <div class="col-sm-9">
            <div class="row gutter-sm">
                <div class="col-sm-2 container_form-control">
                    [select ap_anrede class:form-control "Frau" "Herr"]
                </div>
                <div class="col-xs-6 col-sm-5 container_form-control">
                    [text ap_vorname class:form-control default:get]
                </div>
                <div class="col-xs-6 col-sm-5 container_form-control">
                    [text ap_nachname class:form-control]
                </div>
            </div><!-- End row -->
        </div>
    </div><!-- /form-group -->

    <div class="form-group">
        <label class="control-label col-sm-3">
            Telefon:
            <span class="required" aria-required="true">*</span>
        </label>
        <div class="col-sm-9 container_form-control">
            [tel* telefon class:form-control]
        </div>
    </div><!-- /form-group -->

    <div class="form-group">
        <label class="control-label col-sm-3">
            E-Mail Adresse:
        </label>
        <div class="col-sm-9 container_form-control">
            [email ap_email class:form-control]
        </div>
    </div><!-- /form-group -->

    <div class="row">
        <div class="col-sm-9 col-sm-offset-3">
      <span data-toggle="collapse" data-target="#rechnungsanschrift">
        [checkbox rechnungsanschrift use_label_element "Abweichende Rechnungsanschrift"]
      </span>

            <div class="collapse [condition isset='[multiform rechnungsanschrift]']in[/condition]" id="rechnungsanschrift">
                <fieldset class="well well-inner">
                    <legend>Rechnungsanschrift</legend>

                    <div class="form-group">
                        <label class="control-label col-sm-3">Firmenname:</label>
                        <div class="col-sm-9 container_form-control">
                            [text rechnung_firma class:form-control]
                        </div>
                    </div><!-- /form-group -->

                    <div class="form-group">
                        <label class="control-label col-sm-3">Straße:</label>
                        <div class="col-sm-9 container_form-control">
                            [text rechnung_str class:form-control]
                        </div>
                    </div><!-- /form-group -->

                    <div class="form-group">
                        <label class="control-label col-sm-3">PLZ u. Ort:</label>
                        <div class="col-sm-9">
                            <div class="row gutter-sm">
                                <div class="col-xs-4 container_form-control">
                                    [number rechnung_plz class:form-control]
                                </div>
                                <div class="col-xs-8 container_form-control">
                                    [text rechnung_ort class:form-control]
                                </div>
                            </div>
                        </div>
                    </div><!-- /form-group -->
                </fieldset>
            </div>
        </div>
    </div><!-- /row -->
</fieldset>

[submit class:btn class:btn-cta class:pull-right "Weiter"]
[multistep "1-3-http://buchungen.gfu.net/form-step-2/"]