@media screen and (max-width: 782px) {
  .admin-bar .navbar-fixed-top {
	top: 46px;
  }
}

@media screen and (min-width: 783px) {
  .admin-bar .navbar-fixed-top {
	top: 32px;
  }
}

/* Reset ugly plugin styles */
span.wpcf7-list-item {
	margin: 0;
}
.wpcf7-form-control.hide-text .wpcf7-list-item-label {
	display: none;
}

textarea.form-control {
	height: 80px;
}

.progress-steps {
  width: 100%;
  display: table;
  table-layout: fixed;
  margin: 15px 0 30px 0;
  padding: 0;
  list-style: none;
  font-size: 14px;
}
.progress-steps .progress-steps__item {
  position: relative;
  display: table-cell;
  text-align: center;
  color: #aaa;
}
.progress-steps .progress-steps__item::after {
  content: "";
  background-color: #eee;
  width: 100%;
  height: 4px;
  position: absolute;
  top: 13px;
  left: -100%;
  z-index: 0;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
}
.progress-steps .progress-steps__item:first-child::after {
  display: none;
}
.progress-steps .progress-steps__item {
  color: #333;
}
.progress-steps .progress-steps__item--active::after {
  background-color: #f77635;
}
.progress-steps .progress-steps__item--active .progress-steps__count {
  background-color: #f77635;
  color: #fff;
}
.progress-steps .progress-steps__item--active .progress-steps__count::before {
  content: "\f00c";
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: absolute;
  z-index: 2;
  margin-top: -3px;
  margin-left: 5px;
  color: #32cd32;
  font-size: 20px;
}
.progress-steps .progress-steps__item--current .progress-steps__count::before {
  display: none;
}
.progress-steps .progress-steps__item--current .progress-steps__label {
  font-weight: bold;
}
a.progress-steps__count { text-decoration: none; }
.progress-steps__count {
  background-color: #fff;
  width: 30px;
  height: 30px;
  display: inline-block;
  position: relative;
  z-index: 1;
  text-align: center;
  color: #aaa;
  font-weight: 400;
  line-height: 30px;
  /* same as height */
  margin-bottom: 12px;
  border-radius: 100%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.participants {
    margin: 0;
    padding: 0;
    list-style: none;
}

select.form-control {
  padding-right: 0;
}